{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Welcome to Chat Bots✅</h1>

    <div>
        This is a playground for Symfony applications built on <a href="https://github.com/inspector-apm/neuron-ai" target="_blank">Neuron AI</a>.

    </div>

    Select an agent and personality!
    <ul>
        {% for agent in agents   %}
            <li><a href="{{ path('chat_index', {agentCode: agent}) }}">{{ agent }}</a></li>
        {% endfor %}
    </ul>

    <div data-controller="stream">
        <div data-stream-target="output" style="height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 1rem;"></div>
        <div data-stream-target="loader" style="margin-top: 0.5rem;">Loading…</div>
    </div>



</div>
{% endblock %}
